<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="preload" href="C:\Users\jonat\Downloads\CRUD-BDD-master\CRUD-BDD-master\Cafe\Cafe\css\css.css">
    <link rel="stylesheet" href="C:\Users\jonat\Downloads\CRUD-BDD-master\CRUD-BDD-master\Cafe\Cafe\css\css.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Pedido  | CoffeeShop</title>
</head>
<body>
    <nav>
        <div class="logo">CoffeeShop</div>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="pedidos.html">Pedidos</a></li>
            <li><a href="nuevo_pedido.html">Nuevo</a></li>
        </ul>
    </nav>
  <h2>Editar Producto </h2>
</body>
</html>