<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Productos  | CoffeeShop </title>
</head>
<body>
    <nav>
        <div class="logo">CoffeeShop</div>
        <ul>
            <li><a href="{{url_for('home')}}">Inicio</a></li>
            <li><a href="{{url_for('nuevo_producto')}}">Nuevo</a></li>
            {% if producto %}
            <li><a href="{{url_for('editar_producto', id=producto)}}">Editar</a></li>
            {% endif %}
        </ul>
    </nav>
  <h2>Lista de Productos</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
      <tr>
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.stock }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{url_for('nuevo_producto')}}">Nuevo Producto</a>
</body>
</html>
